$colorPrincipal: linear-gradient(to right, #be6f48, #aa6440, #975939, #844e31, #72432a);  
$colorMain: linear-gradient(to right, #ffffff, #e2e1e2, #c6c4c4, #aba7a7, #908c8a);
$links: white;
$resaltador: rgb(134, 77, 39);
$p_fondo: rgb(134, 77, 39, 0.301);
$pad100: 100px;
$fuentes:(
    fuenteP: 1.3rem,
    fuenteHead: 3rem,
    fuenteSub: 2rem,
    fuenteI: 5rem,
);

